<html>
	<head>
		<title>Blog de LePere</title>		
	</head>
	<body>
		<div>
			<h1><a href="/">Bienvenue sur le blog de LePere</a></h1>
			<p>date du jour : {{ date }}</p>
			{% load static %}
			<img src="{% static 'maison/cityCC0.png' %}" alt="Mon image" />
		</div>
	
		<div>
			<h2><a href="">Materiels</a></h2>
			<p>ordinateur : raspberry pi2</p>
			<p>ecrans : lcd LG + TFT 7" Touchscreen</p>
			<p>souris + clavier sans fil Logitech</p>	
		</div>

		<div>
			<h2><a href="">Logiciels</a></h2>
			<p>distribution : kivypie 1.10.0</p>
			<p>gestion fenetre : fluxbox</p>	
		</div>

		<div>
			<h2><a href="">Applications installees</a></h2>
			<p>dessin : inkscape</p>
			<p>editeurs : nano + leafpad</p>
			<p>lecteur pdf : okular</p>
			<p>programmation : spyder3 : PCManFM</p>
			<p>gestion package : synaptic</p>
			<p>gestion partitions : gparted</p>
			<p>navigateur : chromium</p>
			<p>tableur : gnumeric</p>
		</div>
	</body>
</html>
