{% load static %}
<html>
	<head>
	        <title>Les memos du Père</title>
	        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
	        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        	<link rel="stylesheet" href="{% static 'memos_linux/memos_linux.css' %}">
    	</head>
	<body>
	<div class="entete">
			<p class="url"><a href = "/" > moncahier.ddns.net </a><p>
			<p class="bienvenue"><em><strong> Mes mémos linux </strong></em><p>
			<p class="new"><strong><a href="{% url 'nouvelle_ressource' %}"> + </a></strong></p>
	</div>

	<div class="contenu">
		{% block content %}
		{% endblock %}
	</div>

	<div class="piedpage">
        	<p class="powered"> Mon site - Powered by Django </p>
		<p class="admin"><a href="{% url 'admin:index' %}">Admin</a></p>
    	</div>
	</body>
</html>