<html>
    <head>
        <title>Blog de LePere</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog de LePere</a></h1>
        </div>

        <div>
            <p>published: 06.09.2019, 17:15</p>
            <h2><a href="">Mon premier post</a></h2>
            <p>ordinateur : raspberry pi2, kivypie</p>
        </div>

        <div>
            <p>published: 06.09.2019, 17:15</p>
            <h2><a href="">Mon deuxieme post</a></h2>
            <p>diftribution : kivypie</p>
        </div>
    </body>
</html>