{% load static %}
<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>{% block title %}Accueil du blog{% endblock %} - Le Blog du Père</title>
	        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
	        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>   
		<link rel="stylesheet" href="{% static 'accueil/accueil.css' %}">
	</head>
	<body>
    		<div class="entete">
			<p class="url"> moncahier.ddns.net <p>
			<p class="bienvenue"><em><strong> Bienvenue sur le site du Père </strong></em><p>
			<p class="new"><strong><a href="{% url 'nouvel_element' %}"> + </a></strong></p>								
   		</div>

		<div class="contenu">
       			{% block content %}
			{% endblock %}
		</div>

		<div class="piedpage">
        		<p class="powered"> Mon site - Powered by Django </p>
			<p class="admin"><a href="{% url 'admin:index' %}">Admin</a></p>
    		</div>
	</body>
</html>